<div class="card">
    <div class="card-header">
        <h1>The Learning Resources App</h1>
    </div>
    <div class="card-body">
        <p>This application was created for the Intro to Programming Class.</p>
    </div>
    <div class="card-footer">
        <button (click)="getStatus()"
                class="btn btn-primary">See The API Status</button>

        <div *ngIf="(responseFromServer$ | async) as response">
            <p>The status is {{response.message }}</p>
            <p>Contact for help: {{response.contact }}</p>
        </div>
        <span *ngIf="hasError"
              class="alert alert-danger">Sorry, there was an error with the API.</span>

    </div>
</div>

<div class="card">
    <div class="card-header">
        <h1>Preferences</h1>
    </div>
    <div class="card-body">
        <div class="card">
            <div class="card-header">
                <h2>Counter</h2>
            </div>
            <div class="card-body">
                <p>What would you like to count by with the Counter Component?</p>
                <div class="btn-group"
                     role="group"
                     aria-label="Basic example">
                    <button type="button"
                            disabled
                            class="btn btn-primary">1</button>
                    <button type="button"
                            class="btn btn-primary">3</button>
                    <button type="button"
                            class="btn btn-primary">5</button>
                </div>
            </div>
        </div>
    </div>
</div>